pkgbase = zen-browser-bin
	pkgdesc = Standalone web browser - Static binaries from upstream
	pkgver = 1.0.0.a.15
	pkgrel = 1
	url = https://github.com/zen-browser/desktop
	arch = x86_64
	arch = i686
	license = MPL-2.0
	depends = gtk3
	depends = libxt
	depends = mime-types
	depends = dbus-glib
	depends = nss
	depends = ttf-font
	optdepends = ffmpeg: H264/AAC/MP3 decoding
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = zen-browser=1.0.0.a.15
	conflicts = zen-browser
	options = !strip
	source = zen-browser-1.0.0-a.15.tar.bz2::https://github.com/zen-browser/desktop/releases/download/1.0.0-a.15/zen.linux-generic.tar.bz2
	source = zen-browser.sh
	source = zen-browser.desktop
	source = policies.json
	sha256sums = c5b2091d308a72ee9cdf2217be664435fa08841be14d0ef9c8a7db208759a137
	sha256sums = 642bcde5b15fddb712d10ed53299781108a265432237ab27a96c5c5c489718db
	sha256sums = 2c81f08da79315c1a9d0fcf3a41ae6aa8b4bbe162181f6a8c41f37df27eb9870
	sha256sums = ccf5105135118acb7d05a7f81383307e959a3b757eb7b645600b47bb7915b504

pkgname = zen-browser-bin
